@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  margin: 0px;
  background: #171723;
}

.mainContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.textContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  flex-direction: row;
}

.textContainer .head {
  font-weight: 900;
  font-size: 5.2em;
  color: antiquewhite;
  text-shadow: cornflowerblue;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
}

.textContainer ul,
.textContainer p {
  font-weight: 700;
  font-size: 3.2em;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
}

.textContainer a:visited,
.textContainer a:link,
.textContainer a:active {
  color: antiquewhite;
  cursor: pointer;
}

.myspacer {
  padding: 20px 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
}

/* a link*/
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: none;
  background: #1b9cfc;
  color: white;
  border-radius: 10px;
  width: 50%;
  height: 64px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: normal;
  text-decoration: none;
}

.webgl {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
